window {
    margin: 5px;
    background-color: {{colors.surface_container_lowest.default.hex}};
    border: 2px solid {{colors.outline.default.hex}};
    color: {{colors.on_surface.default.hex}};
    font-family: BlexMono Nerd Font Mono, monospace;
}

#input {
    margin: 5px;
    border: 2px solid {{colors.outline.default.hex}};
    background-color: {{colors.surface_variant.default.hex}};
    color: {{colors.on_surface_variant.default.hex}};
    border-radius: 0px;
    font-family: BlexMono Nerd Font Mono, monospace;
}

#inner-box {
    margin: 5px;
    background-color: {{colors.surface_container_lowest.default.hex}};
    color: {{colors.on_surface.default.hex}};

}

#outer-box {
    margin: 5px;
    background-color: {{colors.surface_container_lowest.default.hex}};
    color: {{colors.on_surface.default.hex}};
}

#scroll {
    margin: 5px;
    border: 2px solid {{colors.outline.default.hex}};
    background-color: {{colors.surface_container_lowest.default.hex}};
    color: {{colors.on_surface.default.hex}};
}

#text {
    margin: 5px;
    background-color: {{colors.surface_container_lowest.default.hex}};
    color: {{colors.on_surface.default.hex}};
}

#entry:selected {
    background-color: {{colors.on_surface.default.hex}};
    color: {{colors.surface_container_lowest.default.hex}};
}

#entry {
    border: 2px solid {{colors.outline.default.hex}};
    margin: 4px;
}

#text:selected {
    background-color: {{colors.on_surface.default.hex}};
    color: {{colors.surface_container_lowest.default.hex}};
}
